body {
	background-image: url('../img/bg-dark.jpg') !important;
	background-color: #C9B8A4;
}

.footer a {
	filter: brightness(150%);
}

.arrow {
	filter: invert(1);
}

a.card-link .card {
	height: 10em;
	opacity: 0.8;
	transition: opacity 1s;
	border-radius: 1em;
}