html, body {
  height: 100%;
}

body {
    width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	background-image: url('../img/bg.jpg');
	background-color: #7A8B9F;
}

h1 {
	font-size: 4em;
}


.page-wrap {
  min-height: 100%;
  margin-bottom: calc(-24px - 4em); 
}
.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after {
  height: 24px;
  margin-top: 2em;
  margin-bottom: 2em;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	flex-shrink: 0;
}

a.card-link,
a.card-link:hover {
  color: inherit;
}
	a.card-link .card {
		height: 10em;
		filter: brightness(70%);
		transition: all 1s;
		border-radius: 1em;
	}
	a.card-link .card:hover {
		filter: brightness(100%);
		transition: all 1s;
	}

.img-logo {
	object-fit: contain;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
}

.img-bg {
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}